* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Serif', serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80');
  background-size: cover;
  background-position: 90% 90%;
  color: #7d5e5b;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #e0c07d;
  height: 2.25em;
}

h1,
h2,
h4 {
  text-align: center;
  margin-bottom: 10px;
}

a {
  color: #7d5e5b;
  text-decoration: none;
  margin: 15px;
}

.shelters-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.shelter-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0c07d;
  border-radius: 7px;
  width: 20em;
  height: 20em;
  /* padding: 20px; */
  margin: 40px 60px;
  cursor: pointer;
  color: #7d5e5b;
  box-shadow: 0 0 2.5em #c7acb6;
}

.shelter-card:hover {
  transform: scale(1.02);
  background-color: #c7a761;
}

.shelter-cats-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80');
}

.shelter-admission-form-btn,
input[type='submit'] {
  margin: 15px;
  padding: 5px;
  cursor: pointer;
  color: inherit;
  background-color: #ccbcc8;
  border-radius: 5px;
  border: none;
}

.shelter-admission-form-btn:hover,
input[type='submit']:hover {
  color: white;
  background-color: #a89ba5;
}

.form-container {
  margin: 10px auto;
}

.form-field,
.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

form input[type='text'] {
  padding: 0.5em;
  width: 25em;
}

.cat-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
  margin: 15px;
  justify-items: center;
  text-align: center;
}

.cat-card {
  background-color: #e0c07d;
  border-radius: 7px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 0.65em black;
}

.cat-card h3 {
  margin: 5px 0;
}

.cat-card .cat-details {
  margin: 10px 0;
}

.cat-card img {
  width: 300px;
  height: 400px;
}

.cat-card button {
  color: inherit;
  background-color: #ccbcc8;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.cat-card button:hover {
  color: white;
  background-color: #a89ba5;
  cursor: pointer;
}

.update-cat-btn {
  margin-right: 3px;
}

.delete-cat-btn {
  margin-left: 3px;
}

.update-cat-btn:disabled {
  color: #d8d2cb;
  background-color: #777777;
  cursor: default;
}

.update-cat-btn:disabled:hover {
  cursor: default;
  color: #d8d2cb;
  background-color: #777777;
}

.about-page-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding: 10px;
  margin-top: 30px;
}

.cat-tree-img-wrapper {
  display: flex;
  justify-content: flex-end;
}

.cat-tree-img {
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 0 0.8em black;
}

.instructions-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.about-page-wrapper p {
  margin: 10px 0;
  font-weight: bold;
}

.instructions-intro-paragraph {
  font-size: 18px;
  text-decoration: underline;
  margin: 20px 0;
}
